.button {
  width: 6rem;
  height: var(--size-4);
  border-radius: var(--border-radius);
  border: var(--border-width-3) solid var(--grey-700);
  border: none;
  color: var(--off-white);
  font-size: var(--font-size);
  background-color: var(--grey-400);
  cursor: pointer;
  outline: none;
  padding: 0.5rem 0;
  box-shadow: var(--box-shadow);
}
