.card {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  align-items: center;

  margin: var(--size-1) auto;
  /* background: var(--light-blue-700); */
  background: rgba(29, 111, 152, 0.8);
  color: var(--grey-100);
  width: 65vw;
  height: auto;
  padding: var(--size-1);
}

.card h4 {
  font-size: var(--font-size-subheadline);
  text-align: center;
  color: var(--text-dark);
  padding: var(--size-2);
}

.card p {
  margin-bottom: var(--size-1);
}

.card input {
  width: 25vw;
  font-size: var(--font-size-6);
  text-align: center;
  border-radius: var(--border-radius);
  border: none;
  margin-bottom: var(--size-1);
  padding: var(--size-1);
}
