.card {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  align-items: center;

  margin: var(--size-1) auto;
  background: var(--light-blue-700);
  width: 85vw;
  height: auto;
  padding: 1rem;
}

.card h4 {
  font-size: var(--font-size-subheadline);
  text-align: center;
  color: var(--text-dark);
}

.card p {
  margin-bottom: 1rem;
  color: var(--light-blue-100);
}


.inputsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card label {
  font-size: var(--font-size);
  color: var(--text-dark);
}

.card input {
  width: 25vw;
  font-size: var(--font-size-6);
  text-align: center;
  border-radius: var(--border-radius);
  border: none;
  margin-bottom: var(--size-1);
  padding: 1rem;
}
