@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

:root {
  --text-dark: hsl(0, 0%, 13%);
  --text-normal: hsl(0, 0%, 29%);
  --text-light: hsl(0, 0%, 45%);

  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 99%);
  --dark-background: hsl(0, 0%, 10%);

  --grey-050: #F7F7F7;
  --grey-100: #E1E1E1;
  --grey-200: #CFCFCF;
  --grey-300: #B1B1B1;
  --grey-400: #9E9E9E;
  --grey-500: #7E7E7E;
  --grey-600: #626262;
  --grey-700: #515151;
  --grey-800: #3B3B3B;
  --grey-900: #222222;

  --box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  --box-shadow-less: 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
  --inset-box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);

  --default-sans: 'Nunito', sans-serif;
  --default-serif: 'Zilla Slab', serif;

  --font-size: 1.6rem;

  --font-size-headline: 4rem;
  --font-size-subheadline: 2.25rem;
  --font-size-6: 3rem;
  --font-size-5: 2.25rem;
  --font-size-4: 1.25rem;
  --font-size-3: 1rem;
  --font-size-2: 0.875rem;
  --font-size-1: 0.75rem;

  --spacing-7: 16rem;
  --spacing-6: 8rem;
  --spacing-5: 4rem;
  --spacing-4: 2rem;
  --spacing-3: 1rem;
  --spacing-2: 0.5rem;
  --spacing-1: 0.25rem;

  --size-96: 96rem;
  --size-64: 64rem;
  --size-48: 48rem;
  --size-32: 32rem;
  --size-24: 24rem;
  --size-16: 16rem;
  --size-8: 8rem;
  --size-4: 4rem;
  --size-2: 2rem;
  --size-1: 1rem;

  --border-radius: 3px;

  --red-050: #FFEEEE;
  --red-100: #FACDCD;
  --red-200: #F29B9B;
  --red-300: #E66A6A;
  --red-400: #D64545;
  --red-500: #BA2525;
  --red-600: #A61B1B;
  --red-700: #911111;
  --red-800: #780A0A;
  --red-900: #610404;

  --red-vivid-050: #FFE3E3;
  --red-vivid-100: #FFBDBD;
  --red-vivid-200: #FF9B9B;
  --red-vivid-300: #F86A6A;
  --red-vivid-400: #EF4E4E;
  --red-vivid-500: #E12D39;
  --red-vivid-600: #CF1124;
  --red-vivid-700: #AB091E;
  --red-vivid-800: #8A041A;
  --red-vivid-900: #610316;

  --light-blue-050: #EBF8FF;
  --light-blue-100: #D1EEFC;
  --light-blue-200: #A7D8F0; /* duotone */
  --light-blue-300: #7CC1E4;
  --light-blue-400: #55AAD4;
  --light-blue-500: #3994C1;
  --light-blue-600: #2D83AE; /* duotone */
  --light-blue-700: #1D6F98;
  --light-blue-800: #166086;
  --light-blue-900: #0B4F71;

  --light-blue-vivid-050: #E3F8FF;
  --light-blue-vivid-100: #B3ECFF;
  --light-blue-vivid-200: #81DEFD; /* duotone */
  --light-blue-vivid-300: #5ED0FA;
  --light-blue-vivid-400: #40C3F7;
  --light-blue-vivid-500: #2BB0ED;
  --light-blue-vivid-600: #1992D4; /* duotone */
  --light-blue-vivid-700: #127FBF;
  --light-blue-vivid-800: #0B69A3;
  --light-blue-vivid-900: #035388;

  --blue-050: #DCEEFB;
  --blue-100: #B6E0FE;
  --blue-200: #84C5F4;
  --blue-300: #62B0E8;
  --blue-400: #4098D7;
  --blue-500: #2680C2;
  --blue-600: #186FAF;
  --blue-700: #0F609B;
  --blue-800: #0A558C;
  --blue-900: #003E6B;

  --blue-vivid-050: #E6F6FF;
  --blue-vivid-100: #BAE3FF;
  --blue-vivid-200: #7CC4FA;
  --blue-vivid-300: #47A3F3;
  --blue-vivid-400: #2186EB;
  --blue-vivid-500: #0967D2;
  --blue-vivid-600: #0552B5;
  --blue-vivid-700: #03449E;
  --blue-vivid-800: #01337D;
  --blue-vivid-900: #002159;

  --blue-grey-050: #F0F4F8;
  --blue-grey-100: #D9E2EC;
  --blue-grey-200: #BCCCDC;
  --blue-grey-300: #9FB3C8;
  --blue-grey-400: #829AB1;
  --blue-grey-500: #627D98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334E68;
  --blue-grey-800: #243B53;
  --blue-grey-900: #102A43;

  --cool-grey-050: #F5F7FA;
  --cool-grey-100: #E4E7EB;
  --cool-grey-200: #CBD2D9;
  --cool-grey-300: #9AA5B1;
  --cool-grey-400: #7B8794;
  --cool-grey-500: #616E7C;
  --cool-grey-600: #52606D;
  --cool-grey-700: #3E4C59;
  --cool-grey-800: #323F4B;
  --cool-grey-900: #1F2933;

  --warm-grey-050: #FAF9F7;
  --warm-grey-100: #E8E6E1;
  --warm-grey-200: #D3CEC4;
  --warm-grey-300: #B8B2A7;
  --warm-grey-400: #A39E93;
  --warm-grey-500: #857F72;
  --warm-grey-600: #625D52;
  --warm-grey-700: #504A40;
  --warm-grey-800: #423D33;
  --warm-grey-900: #27241D;

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  /* background-color: var(--dark-background); */
  background-image: url(../assets/px_by_Gre3g/px_by_Gre3g.png);
  font-family: var(--default-sans);

  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
/* On screens 600px or less */
@media only screen and (max-width: 600px) {
  html {
    /* 1rem = 10px */
    font-size: 62.5%;
  }
}
/* On screens 601px or more */
@media only screen and (min-width: 601px) {
  html {
    /* 1rem = 10px */
    font-size: 70%;
  }
}

/* For use with the slidingCard component */
html,
body {
  overscroll-behavior-y: contain;
  height: 100%;
  width: 100%;
  user-select: none;
  position: fixed;
  overflow: hidden;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  color: var(--off-white);
  font-size: var(--font-size);
}

.center {
  text-align: center;
}

.absCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* * * * * * * * */
main {
  display: block;
}
h1 {
  font-size: 2em;
  /* margin: 0.67em 0; */
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
