.button {
  appearance: none;
  outline: 0;
  background-color: var(--off-white);
  border: 0;
  margin-top: 10px;
  padding: 10px 15px;
  color: var(--light-blue-vivid-600);
  border-radius: 3px;
  width: 200px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

.button:hover{
  background-color: rgb(245, 247, 249);
}

.mainHeading {
  color: var(--off-white);
  font-size: var(--font-size-headline);
  font-family: var(--default-serif);
  text-align: center;
}

.subHeading {
  color: var(--red-300);
  font-size: var(--font-size-subheadline);
  text-align: center;
  margin-bottom: var(--size-2);
}

.signUpLink {
  text-align: center;
  font-size: var(--font-size-4);
}

.signUpLink a {
  text-decoration: none;
  color: var(--text-light);
}

.signOutButton {
  color: var(--off-white);
  background: transparent;
  border: none;
}

.userList {
  color: var(--off-white);
  font-size: var(--font-size);
  margin-left: var(--size-4);
  margin-top: var(--size-2);
  list-style-type: none;
}

.userList li span{
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  align-items: center;
}

.form input {
  width: 50vw;
  font-size: var(--font-size);
  margin-bottom: var(--size-1);
  padding: var(--size-1);
}

.form button {
  appearance: none;
  outline: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  width: 200px;
  margin-top: 10px;
  margin-bottom: var(--size-2);
  background: var(--grey-300);
  font-size: 18px;
  font-family: inherit;
  color: var(--text-dark);
  padding: 10px 15px;
}

.workoutEntries {
  text-align: center;
  margin-bottom: var(--size-2);
}
