.mainHeading {
  color: var(--off-white);
  font-size: var(--font-size-headline);
  font-family: var(--default-serif);
  text-align: center;
}

.subHeading {
  color: var(--red-300);
  font-size: var(--font-size-subheadline);
  text-align: center;
}

.signOutButton {
  color: var(--off-white);
}
