.container {
  color: var(--off-white);
  text-align: center;
}

.container h1 {
  margin-bottom: var(--spacing-3);
}

.container h4 {
  font-size: var(--font-size-subheadline);
  color: var(--light-blue-300);
  margin-top: var(--size-2);
  margin-bottom: var(--size-1);
}

.container p {
  font-size: var(--font-size);
  margin-bottom: var(--size-1);
  cursor: pointer;
}
