.container {
  color: var(--off-white);
  text-align: center;
}

.container h1 {
  margin-bottom: var(--spacing-3);
}

.container h4 {
  font-size: var(--font-size-subheadline);
  font-weight: 100;
  color: var(--light-blue-300);
  margin-top: var(--size-2);
  margin-bottom: var(--size-1);
}

.container p,
.container a {
  margin-bottom: var(--size-1);
}

.container a {
  display: block;
}

.workoutsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 0 2rem;
}

.workoutsContainer p {
  background: linear-gradient(45deg, var(--red-400), var(--red-300));
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.lastWorkoutContainer {
  margin-bottom: 2rem;
}

.lastWorkoutContainer h3 {
  font-size: 1.75rem;
  color: var(--off-white);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
