.container {
  display: flex;
  flex-direction: column;
}

.warmupsContainer {
  display: grid;
  width: 75vw;
  margin: 2rem auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.warmupContainer {
  position: relative;
}

.warmupContainer img {
  width: 100%;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.warmupContainer span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--red-900);

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.links {
  width: 75vw;
  margin: 2.5rem auto;
  position: relative;
}

.links img {
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.links span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue-900);

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
